<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <input type="hidden" id="feed_id" name="feed_id" value="<%=current_user.id%>">
      <div id=feed>
      </div>
      <table class="table table-striped" id="feed_table">
        <thead>
          <tr>
            <th>Content</th>
            <th> by </th>
          </tr>
        </thead>
        <tbody>
          <% @feed.each do |feed_item| %>
            <% post = Post.find(feed_item.post_id) %>
            <% user = User.find(post.user_id) %>
            <tr>
              <td><%= post.content %></td>
              <td>
                <%= user.email %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
