<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Microblogging!</h1>
    <p>Like text messages, but its called a blog.</p>
    <p><a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>" role="button">Sign up &raquo;</a></p>
  </div>
</div>
